@mixin mainButton($bg,$color) {
  cursor: pointer;
  padding: 15px 54px;
  background-color: $bg;
  border: 2px solid $bg;
  border-radius: 28.5px;
  font-weight: 900;
  color: $color;
  outline: none;
  box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out .3s;
  &:hover {
    border-color: $color;
    background-color: $color;
    color: $bg;
  }
}
