@import "var";

.header {

  padding: 59px 20px 38px 20px;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
  }

  @media(min-width: $breakPoint1) {
    box-shadow: 0px 4px 24px -5px rgba(0, 0, 0, 0.15);
    padding: 16px 110px 17px 110px;
  }

  &__logo {
    width: 97px;
    @media(min-width: $breakPoint1) {
      width: 120px;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 120px);

  }
}
