@import "../var";

.openArrow {
  position: relative;

  &:after {
    content: '';
    width: 6.36px;
    height: 6.36px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 3px;
    border-radius: 1px;
    transform: translateY(-50%) rotate(45deg);
  }
}

.language {
  margin: 0 22px 0 0;
  padding: 1px 10px 0 10px;
  position: relative;


  &__active {
    width: 47px;
    padding: 10px 6px 9px 6px;
    position: relative;
    z-index: 1;
    @extend .openArrow;
  }

  &__list {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding: 1px 10px 6px 10px;
    transition: all ease-in-out .3s;

    &--open {
      height: 163px;
      opacity: 1;
    }
  }

  &__el {
    width: 47px;
    padding: 10px 6px 9px 6px;
    border-top: 0.5px solid #C2C2C2;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    transition: color ease-in-out .2s;

    &:hover {
      color: lighten(#000,80);
    }

    &--active {
      border: none;

      &:hover {
        color: #000;
      }

      @extend .openArrow;
    }
  }
}
