@import "../var";
@import "../mixin";

.headerButton {
  @include mainButton($mainOrange, $mainBlack);
  display: block;
  margin: 36px auto;
  padding: 13px 56px;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
  border: none;
  @media(min-width: $breakPoint1) {
    padding: 19px 0 18px 0;
    width: 152px;
    margin: 0;
    text-align: center;
  }

  &--mobileHide {
    display: none;
    @media(min-width: $breakPoint1) {
      display: block;
    }
  }

  &--desktopHide {
    @media(min-width: $breakPoint1) {
      display: none;
    }
  }
}
