@import "../var";

.mobileButton {
  width: 36px;
  height: 26px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @media(min-width: $breakPoint1) {
    display: none;
  }
  span {
    width: 100%;
    height: 2px;
    background-color: $mainBlack;
    position: absolute;
    left: 0;
    transition: all ease-in-out .4s;

    &:first-child {
      top: 0;

    }

    &:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
      transition: all ease-in-out .3s;
    }

    &:last-child {
      bottom: 0;

    }
  }

  &--active {
    span {
      &:first-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate(100%, -50%);
      }

      &:last-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
