@import "../var";
@import "../mixin";

.navigation {
  flex-wrap: wrap;
  position: fixed;
  top: 143px;
  right: 0;
  width: 100vw;
  padding: 32px 40px;
  height: calc(100vh - 143px);
  align-content: flex-start;
  opacity: 0;
  transition: opacity ease-in-out .3s;
  z-index: 99;
  overflow-y: scroll;
  background-color: #fff;
  display: none;
  @media(min-width: $breakPoint1) {
    opacity: 1;
    display: flex;
    top: auto;
    left: auto;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    padding: 0;
    overflow: hidden;
    width: auto;
    margin: 0 10px 0 0;
  }
  @media(min-width: $breakPoint2) {
    margin: 0 136.5px 0 0;
  }

  &__el {
    cursor: pointer;
    //width: 100%;
    text-align: center;
    margin: 36px 0;
    font-size: 15px;
    line-height: 18px;
    color: $mainBlack;
    @media(min-width: $breakPoint1) {
      margin: 0 23.5px;
      font-size: 16px;
      line-height: 20px;
    }
  }


}
