@import "../var";

.hero {
  overflow: hidden;
  padding-top: 143px;
  @media (min-width: $breakPoint1) {
    padding-top: 90px;
  }

  &__title {
    font-size: 35px;
    line-height: 43px;
    color: $mainBlack;
    text-align: center;
    width: calc(100% - 40px);
    max-width: 997px;
    margin: 0 auto 60px auto;
    display: block;
    @media(min-width: $breakPoint1) {
      font-size: 55px;
      line-height: 67px;
      margin: 74px auto 53px auto;
    }

    br {
      display: none;
      @media(min-width: $breakPoint1) {
        display: block;
      }
    }
  }

  &__image {
    transform: translateY(0%);
    transition: all ease-in-out .4s;
    display: block;
    width: 100%;
    position: relative;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &__buyBtn {
    width: 80px;
    height: 80px;
    background-color: $mainOrange;
    border-radius: 50%;
    position: absolute;
    bottom: 27px;
    right: 20px;
    display: block;
    padding: 17px 0 0 0;
    transition: all ease-in-out .4s;
    @media(min-width: $breakPoint1) {
      display: none;
    }

    &:hover {
      background-color: $mainBlack;

      svg {
        path {
          fill: $mainOrange;
        }

      }
    }

    svg {
      display: block;
      margin: 0 auto;

      path {
        transition: all ease-in-out .4s;
      }

    }
  }
}

.heroTile {
  position: relative;
  width: 100%;
  padding: 50px 20px 75px 20px;
  background-color: $mainOrange;
  border-top: 15px solid #fff;
  border-bottom: 15px solid #fff;
  border-radius: 25px;
  max-width: 1440px;
  margin: 0 auto;
  @media(min-width: $breakPoint1) {
    padding: 70px 0 76px 0;
    border-radius: 30px;
    border: 20px solid #FFFFFF;
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    color: $mainBlack;
    width: 100%;
    text-align: center;
    max-width: 763px;
    margin: 0 auto;
    @media(min-width: $breakPoint1) {
      font-size: 40px;
      line-height: 49px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    color: $mainBlack;
    margin: 25px auto 0 auto;
    width: 100%;
    text-align: center;
    max-width: 711px;
    @media(min-width: $breakPoint1) {
      margin: 40px auto 0 auto;
      font-size: 20px;
      line-height: 32px;
    }

  }
}
