@import "../var";

.calculator {
  padding: 50px 20px 60px 20px;
  display: flex;
  flex-wrap: wrap;
  @media(min-width: $breakPoint1) {
    padding: 90px 0 81px 0;
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin: 0 0 25px 0;
    padding: 0 11px;
    width: 100%;
    display: block;
    text-align: center;
    @media(min-width: $breakPoint1) {
      font-size: 40px;
      line-height: 49px;
      margin: 0 0 39px 0;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 50px 0;
    width: 100%;
    padding: 0 20px;
    display: block;
    text-align: center;
    @media(min-width: $breakPoint1) {
      font-size: 20px;
      line-height: 32px;
      margin: 0 0 83px 0;
    }
  }

  &__fields {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  &__result {
    border-radius: 15px;
    padding: 40px 20px;
    width: 100%;
    color: #fff;
    background-color: $mainBlack;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0 0;
    @media(min-width: $breakPoint1) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0 0 0;
    }

    span {
      display: block;
      color: #fff;
      margin: 15px 0;
      font-size: 28px;
      opacity: .5;
      @media(min-width: $breakPoint1) {
        padding: 0 17px 0 24px;
      }

      &.active {
        color: $mainOrange;
        opacity: 1;
      }
    }
  }
}

.calculatorField {
  width: 100%;
  background-color: #FAFAFD;
  padding: 40px 20px;
  margin: 10px 0;
  border-radius: 15px;
  @media(min-width: $breakPoint1) {
    width: calc(50% - 15px);
    margin: 0;
    padding: 40px 40px 50px 40px;
  }

  &__label {
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 900;
    margin: 0 0 40px 0;
    @media(min-width: $breakPoint1) {
      font-size: 20px;
      line-height: 30px;
      margin: 0 auto;
    }
  }

  &__input {
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid $mainBlack;
    font-size: 16px;
    color: #C2C2C2;
    transition: all ease-in-out .4s;
    text-align: center;
    width: calc(100% - 54px);
    margin: 0 auto;
    display: block;
    padding: 23px 0 22px 0;

    @media(min-width: $breakPoint1) {
      max-width: 225px;
      margin: 40px auto 0 auto;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      padding: 18px 0 20px 0;
    }

    &--active {
      border-color: $mainOrange;
      color: $mainBlack;
    }
  }

}
