<template>
    <div class="language"
         @mouseover="isOpen = true"
         @mouseleave="isOpen = false"
    >
        <div class="language__active">
            {{activeLang.label}}
        </div>

        <ul class="language__list"
            :class="{'language__list--open': isOpen}"
        >
            <li class="language__el language__el--active">
                {{activeLang.label}}
            </li>
            <li @click="setActiveLanguage(el)" class="language__el" v-for="(el,index) in languages" :key="index"
                v-show="!el.active">
                {{el.label}}
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapState, mapGetters,mapMutations} from 'vuex';

    export default {
        name: "ChangeLanguage",
        data() {
            return {
                isOpen: false
            }
        },
        computed: {
            ...mapState([
                'activeLang',
                'languages'
            ]),
            ...mapGetters([
                'getActiveLanguageLabel'
            ])
        },
        methods: {
            ...mapMutations([
                'set_activeLanguage'
            ]),
            setActiveLanguage: function (val) {
                this.isOpen = false;
                this.set_activeLanguage(val);
            }
        }
    }
</script>

<style src="../../assets/style/header/changeLanguage.scss">

</style>
