<style scoped src="../../assets/style/header/headerButton.scss">

</style>

<template>
    <div class="headerButton">
        {{activeLang.messages.nav.button}}
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "Button",
        computed: {
            ...mapState([
                'activeLang'
            ])
        },
    }
</script>


