<style src="../../assets/style/header/mobileButton.scss"></style>

<template>
    <div class="mobileButton"
         @click="changeStatus"
         :class="{'mobileButton--active': mobileMenu.active}">
        <span></span>
        <span></span>
        <span></span>
    </div>
</template>

<script>
    import {mapState,mapMutations} from 'vuex';

    export default {
        name: "MobileButton",
        props: {},
        data() {
            return {}
        },
        computed:{
            ...mapState([
                'mobileMenu'
            ])
        },
        methods: {
            ...mapMutations([
                'set_mobileModalStatus'
            ]),
            changeStatus: function () {
                this.set_mobileModalStatus();
            }
        }
    }
</script>


