<template>
    <nav class="navigation" :class="{'navigation--active': mobileMenu.active}">
        <p v-for="(el,index) in activeLang.messages.nav.list"
           :key="index"
           class="navigation__el">
            {{el}}
        </p>
        <HeaderButton class="headerButton--desktopHide"/>

    </nav>
</template>

<script>
    import {mapState} from 'vuex';
    import HeaderButton from './HeaderButton.vue';

    export default {
        name: "Naviagtion",
        components: {
            HeaderButton
        },
        data() {
            return {}
        },
        computed: {
            ...mapState([
                'mobileMenu',
                'activeLang'
            ])
        },
    }
</script>

<style scoped src="../../assets/style/header/navigation.scss">

</style>
