<style scoped src="../assets/style/calculator/main.scss"></style>

<template>
    <section class="calculator">
        <div class="container">
            <h3 class="calculator__title">
                {{activeLang.messages.calculator.title}}
            </h3>
            <p class="calculator__text">
                {{activeLang.messages.calculator.text}}
            </p>
            <div class="calculator__fields">

                <div class="calculatorField" v-for="(el,index) in fields">
                    <label :for="index" class="calculatorField__label"
                           v-html="activeLang.messages.calculator.fields[index].title"></label>
                    <input @change="calculate()"
                           :placeholder="activeLang.messages.calculator.fields[index].placeholder"
                           :class="{'calculatorField__input--active': el.active}"
                           type="text"
                           :id="index"
                           class="calculatorField__input" v-model="el.value">
                </div>
            </div>
            <div class="calculator__result">
                {{activeLang.messages.calculator.result_1}}
                <span :class="{'active': result.active}">{{result.value}}&nbsp;{{activeLang.messages.currency}}</span>
                {{activeLang.messages.calculator.result_2}}
            </div>
        </div>
    </section>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "Calculator",
        data() {
            return {
                fields: {
                    amount: {
                        value: '',
                        active: false,
                    },
                    fee: {
                        value: '',
                        active: false,
                    }
                },
                result: {
                    active: false,
                    value: 900
                }
            }
        },
        computed: {
            ...mapState([
                'activeLang'
            ])
        },
        methods: {
            validateValue: function (label, val) {
                const reg = new RegExp("[0-9]*\\.?[0-9]");
                this.fields[label].active = reg.test(val) && val.toString().length > 0;
            },
            calculate: function () {

                const amount = parseFloat(this.fields.amount.value.toString().replace(",", "."));
                const fee = parseFloat(this.fields.fee.value.toString().replace(",", "."));

                this.validateValue('amount', amount);
                this.validateValue('fee', fee);

                if (this.fields.amount.active && this.fields.fee.active) {
                    this.result.active = true;
                    this.result.value = (12 * (amount * fee - amount * fee / 5)).toFixed(2);
                } else {
                    this.result.active = false;
                    this.result.value = 900;
                }

            }
        }
    }
</script>

