<style scoped src="../assets/style/footer/main.scss"></style>

<template>
    <footer class="footer">
        <div class="container">
            <h5 class="footer__text" v-html="activeLang.messages.footer.text_1"></h5>
            <button class="footer__btn">{{activeLang.messages.footer.button}}
                <span>8499&nbsp;{{activeLang.messages.currency}}</span></button>
            <h4 class="footer__text footer__text--bold" v-html="activeLang.messages.footer.text_2"></h4>
        </div>
    </footer>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "Footer",
        computed: {
            ...mapState([
                'activeLang'
            ])
        },
    }
</script>


