<style src="../assets/style/header.scss"></style>

<template>
    <header class="header">
        <div class="container">
            <div class="header__logo">
                <img src="../assets/image/logotype.svg" alt="">
            </div>
            <div class="header__content">
                <Naviagtion/>
                <ChangeLanguage/>
                <MobileButton/>
                <HeaderButton class="headerButton--mobileHide"/>
            </div>


        </div>
    </header>

</template>

<script>

    import HeaderButton from './header/HeaderButton.vue';
    import MobileButton from './header/MobileButton.vue';
    import ChangeLanguage from './header/ChangeLanguage.vue';
    import Naviagtion from './header/Naviagtion.vue';

    export default {
        name: "Header",
        components: {
            HeaderButton,
            MobileButton,
            ChangeLanguage,
            Naviagtion
        },
        data() {
            return {
                openModal: false,
                fixed: false
            }
        },
        methods: {
            setModalStatus: function (val) {
                this.openModal = val;
            }
        },
        create() {
            this.openModal = false;
        }
    }
</script>

