@import "../var";
@import "../mixin";

.footer {
  padding: 0px 20px 103px 20px;
  display: flex;
  flex-wrap: wrap;


  &__text {
    color: $mainBlack;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    @media(min-width: $breakPoint1) {
      font-size: 20px;
      line-height: 32px;
    }

    &--bold {
      font-size: 20px;
      line-height: 24px;
      font-weight: 900;
      @media(min-width: $breakPoint1) {
        font-size: 28px;
        line-height: 34.13px;
      }
    }
  }

  &__btn {
    @include mainButton($mainOrange, #000);
    margin: 60px auto;
    width: 100%;
    display: block;
    padding: 26px 0;
    border-radius: 47.5px;
    font-size: 20px;
    line-height: 24px;
    max-width: 386px;
    @media(min-width: $breakPoint1) {
      border: none;
      margin: 60px auto 80px auto;
      padding: 34px 0 33px 0;
      box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
      border-radius: 47.5px;
      font-size: 28px;
      line-height: 34px;
    }

    span {
      font-weight: 700;
      @media(min-width: $breakPoint1) {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

}
