<style lang="scss" src="./assets/style/main.scss"></style>


<template>
    <div>
        <Header/>
        <Hero/>
        <Calculator/>
        <Footer/>
    </div>
</template>

<script>
    import Header from '../src/components/Header.vue';
    import Hero from '../src/components/Hero.vue';
    import Calculator from '../src/components/Calculator.vue';
    import Footer from '../src/components/Footer.vue';

    export default {
        name: 'App',
        components: {
            Header,
            Hero,
            Calculator,
            Footer
        }
    }
</script>
